{% extends 'book/base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {% include 'book/form.html.twig' with { 'form': form, 'button_label': 'Update' } %}

    <a href="{{ path('index') }}">Back to list</a>
{% endblock %}
