<ul>
    <li><strong>{{ book.title }}</strong></li>
    <li><strong>Genre</strong>: {{ book.genre }}</li>
    <li><strong>Year</strong>: {{ book.year }}</li>
    <li><strong>Pages</strong>: {{ book.pages }}</li>
</ul>
